<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<!--<script src="https://code.angularjs.org/1.4.9/angular.js"></script>
<script src="https://code.angularjs.org/1.4.9/angular-resource.js"></script>
<script src="https://code.angularjs.org/1.4.9/angular-route.js"></script>-->
<script src="/webjars/angularjs/1.4.9/angular.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
<script src="/js/app.js"></script>
<script src="/js/controller.js"></script>
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Favorite Apps</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body ng-controller="appLinkController">
    <div class="container">
        <div class="row" align="center">
            <h3>My Favorite Apps</h3>
            <!--<button size="24">Add New App</button>-->
            <div class="container" align="center">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add New App</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Add New App</h4>
                            </div>
                            <div class="modal-body">
                                <div class="card" ng-repeat="appLink in closedAppLinks">
                                    <div class="card-body col-6" ng-style="{'background-color':'{{appLink.color}}'}">
                                        <h5 class="card-title">{{appLink.name}}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">{{appLink.description}}</h6>
                                        <a href="{{appLink.link}}" class="card-link">Go to Application</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="#" ng-click="addAppLink(appLink.name)">Add</a>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div> 
                    </div>
                </div>     
            </div>
            <br />
            <div>
                <table border="1">
                    <tr data-ng-repeat="row in table">
                        <td data-ng-repeat="appLink in row">
                            <div class="card" style="width: 18rem;" ng-if="appLink.name != 'Do Not Open'">
                                <div class="card-body col-6" ng-style="{'background-color':'{{appLink.color}}'}">
                                    <h5 class="card-title">{{appLink.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{appLink.description}}</h6>
                                    <a href="{{appLink.link}}" class="card-link">Go to Application</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" ng-click="removeAppLink(appLink.name)">Remove</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div ng-view></div>
</body>
</html>