<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->

<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->

<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
    
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="/webjars/angularjs/1.4.9/angular.js"></script>
    
    <script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>
    
    <script src="/webjars/angularjs/1.4.9/angular-route.js"></script>
    
    <script src="/js/app.js?sept3"></script>
    
    <script src="/js/appLinkController.js?sept3"></script>
    
    <script src="/js/loginController.js?sept3"></script>
    
    <script src="/js/angular-dragdrop.min.js?sept3"></script>
    
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
        
        <head>
            
            <meta charset="utf-8">
                
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                    
                    <title>Favorite Apps</title>
                    
                    <meta name="description" content="">
                        
                        <meta name="viewport" content="width=device-width, initial-scale=1">
                            
                            <link rel="stylesheet" href="/css/app.css">
                                
        </head>
        
        <body>
            
            <div ng-controller="appLinkController">
                
                <div class="container" ng-if="login != ''">
                    
                    <div class="row" align="left"><br />
                        
                        <div class="container">
                            
                            <div ng-controller="loginController">
                                
                                <br /><div class="loginModalButton">{{login!='default' ? 'Logged in as '+login : 'Default Table View'}}&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#login-modal">{{login=='default' ? 'Login' : 'Switch User'}}</button></div>
                                
                                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                    
                                    <div class="modal-dialog">
                                        
                                        <div class="loginmodal-container">
                                            
                                            <h1>Login to Your Account</h1><br>
                                            
                                            <input type="text" name="user" placeholder="Username" ng-model="loginInput">
                                                
                                                <input type="password" name="pass" placeholder="Password" ng-model="passwordInput">
                                                    
                                                    <button name="login" class="login loginmodal-submit" ng-click="attemptLogin()">Login</button>
                                                    
                                                    </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                            <!-- Trigger the modal with a button -->
                            
                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Add New App</button>
                            
                            <!-- Modal -->
                            
                            <div class="modal fade" id="myModal" role="dialog">
                                
                                <div class="modal-dialog">
                                    
                                    <!-- Modal content -->
                                    
                                    <div class="modal-content">
                                        
                                        <div class="modal-header">
                                            
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            
                                            <h4 class="modal-title">Add New App</h4>
                                            
                                        </div>
                                        
                                        <div class="modal-body">
                                            
                                            <div class="appLink" ng-repeat="appLink in closedAppLinks">
                                                
                                                <div class="appLinkName" ng-style="getAppLinkStyle(appLink.color)">{{appLink.name}}</div>
                                                
                                                <div class="appLinkDescription">{{appLink.description}}</div>
                                                
                                                <div>
                                                    
                                                    <a href="{{appLink.link}}" target="_blank" class="card-link">
                                                        
                                                        Go to Application
                                                        
                                                    </a>
                                                    
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    
                                                    <!-- don't display add button while logged in as default user or not logged in at all -->
                                                    
                                                    <a href="#" ng-if="login!='default' && login!=''" ng-click="addAppLink(appLink.name)">Add</a>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                        <div class="modal-footer">
                                            
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                        <br />
                        
                        <div>
                            
                            <table border="1">
                                
                                <tr data-ng-repeat="row in table">
                                    
                                    <td data-ng-repeat="appLink in row">
                                        
                                        <div data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list[appLink.index]" jqyoui-draggable="{animate:true}" ng-hide="!list[appLink.index].name">
                                            
                                            <!-- App Link Here -->
                                            
                                            <div class="appLink" ng-if="appLink.name != 'Do Not Open'">
                                                
                                                <div class="appLinkName" ng-style="getAppLinkStyle(appLink.color)">{{appLink.name}}</div>
                                                
                                                <div class="appLinkDescription">{{appLink.description}}</div>
                                                
                                                <div>
                                                    
                                                    <a href="{{appLink.link}}" target="_blank" class="card-link">
                                                        
                                                        Go to Application
                                                        
                                                    </a>
                                                    
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    
                                                    <!-- don't display remove button while logged in as default user -->
                                                    
                                                    <a href="#" ng-if="login!='default'" ng-click="removeAppLink(appLink.name)">Remove</a>
                                                    
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </td>
                                    
                                </tr>
                                
                            </table>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
            <div ng-view></div>
            
        </body>
        
</html>
